<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>University application</title>
</head>
<body>
<div align="center">
    <h1>Subjects records</h1>
    <a href="/new_subject">Enter New Subject</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.id}">ID</td>
                <td th:text="${subject.name}">Name</td>
                <td>
                    <a th:href="@{'/subject_edit/' + ${subject.id}}">Edit</a>
                    <a th:href="@{'/subject_delete/' + ${subject.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <a href="/">back</a>
</div>   
</body>
</html>