<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>University Application</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" align="center">
		<h2>Classrooms records</h2>
		<div class="row col-md-7 table-responsive table-hover table-striped">
			<a href="/new_classroom">Enter New Classroom</a> <br /> <br />
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="classroom : ${classrooms}">
						<td th:text="${classroom.id}">ID</td>
						<td th:text="${classroom.name}">Name</td>
						<td th:text="${classroom.size}">Size</td>
						<td><a th:href="@{'/classroom_edit/' + ${classroom.id}}">Edit</a></td>
						<td><a th:href="@{'/classroom_delete/' + ${classroom.id}}">Delete</a></td>
					</tr>
				</tbody>
			</table>
			<br> <a href="/">back</a>
		</div>
	</div>
</body>
</html>