<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>University application</title>
</head>
<body>
<div align="center">
    <h1>Classrooms records</h1>
    <a href="/new_classroom">Enter New Classroom</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="classroom : ${classrooms}">
                <td th:text="${classroom.id}">ID</td>
                <td th:text="${classroom.name}">Name</td>
                <td th:text="${classroom.size}">Size</td>
                <td>
                    <a th:href="@{'/classroom_edit/' + ${classroom.id}}">Edit</a>
                    <a th:href="@{'/classroom_delete/' + ${classroom.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <a href="/">back</a>
</div>   
</body>
</html>